<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hryvnia Exchange</title>
</head>
<body>
<table width="100%" height="50px">
    <tr>
        <th>
            <form align="middle" action="export" method="get">
                <input type="submit" value="Експортувати в Excel">
            </form>
        </th>
    </tr>
</table>
<table align="center" border="1">
    <thead>
    <tr>
        <th>Код цифровий</th>
        <th>Код літерний</th>
        <th>Назва валюти</th>
        <th>Офіційний курс</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="rate: ${exchangeRates}">
        <td th:text="${rate.DigitalCode}">E-mail</td>
        <td th:text="${rate.LetterCode}">Name</td>
        <td th:text="${rate.Name}">Name</td>
        <td th:text="${rate.OfficialCourse}">Name</td>
    </tr>
    </tbody>
</table>
</body>
</html>