<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <form action="register" method="post">
        <label for="DigitalCode">DigitalCode: </label>
        <input type="text" name="DigitalCode" id="DigitalCode"><br>

        <label for="LetterCode">LetterCode: </label>
        <input type="text" name="LetterCode" id="LetterCode"><br>

        <label for="Name">Name: </label>
        <input type="text" name="Name" id="Name"><br>

        <label for="OfficialCourse">OfficialCourse: </label>
        <input type="text" name="OfficialCourse" id="OfficialCourse"><br>

        <button type="submit">Submit</button>
    </form>
    <form action="/" method="get">
        <input type="submit" value="На головну">
    </form>
</body>
</html>